body{
    margin: 0;
    padding: 0;
    background-color: black;
}

h1{
    color: white;
    width: auto;
    text-align: center;
    
}
h3{
    color: white;
    width: auto;
    text-align: center;

}

.container{

    display: inline-block;
    padding-left: 100px;
    padding-bottom: 50px;

}

.input{
    border: 1px solid white;
    width: 177px;
    text-align: center;
    display: list-item;
}

img{
    border: 1px solid white;
    width: 170px;
    height: 143px;
}

label{
    color: white;
}
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:261px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
