body{
    margin: 0;
    padding: 0;
    background-color: black;
}

h1{
    color: white;
    border: 1px solid white;
    width:fit-content;
    justify-content: center;
    align-items: center;
}

.container{

    display: inline-block;
    padding-left: 100px;
    padding-bottom: 50px;

}

.input{
    border: 1px solid white;
    width: 177px;
    text-align: center;
    display: list-item;
}

img{
    border: 1px solid white;
    width: 177px;
    height: 140px;
}

label{
    color: white;
}